/*
 * $Id: //devel/DCITU/main.RC#6 $
 *
 * DCITU for OS/2 -- Digital Camera Image Transfer Utility for OS/2
 * Copyright (C) 1997-2000 Stephane Charette, stephanecharette@telus.net
 * Copyright (C) 2000-2002 C Code Run Consulting & Investments, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or at
 * your option, any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 */

#include "GUIWindow.H"
#include "OptionsCanvas.H"
#include <os2.h>

DEFAULTICON    "dc210.ico"
ICON WND_RCID  "dc210.ico"

MENU WND_RCID preload
{
   SUBMENU "~Camera",            0,                      MIS_TEXT
   {
      MENUITEM "~Connect\tF2",   MB_CONNECT_RCID,        MIS_TEXT, MIA_DISABLED
      MENUITEM "~Disconnect\tF3",MB_DISCONNECT_RCID,     MIS_TEXT, MIA_DISABLED
      MENUITEM "",               0,                      MIS_SEPARATOR
      SUBMENU  "~Retrieve thumbnail ",MB_THUMBNAIL_RCID, MIS_TEXT, MIA_DISABLED
      {
         MENUITEM "~Colour\tF5", MB_COLOUR_TN_RCID,      MIS_TEXT, MIA_DISABLED
         MENUITEM "~Grayscale\tF6",MB_GRAYSCALE_TN_RCID, MIS_TEXT, MIA_DISABLED
      }
      MENUITEM "~Transfer\tF4",  MB_TRANSFER_RCID,       MIS_TEXT, MIA_DISABLED
      SUBMENU  "~Select",        MB_SELECT_RCID,         MIS_TEXT, MIA_DISABLED
      {
         MENUITEM "~All\tAlt+A", MB_SELECT_ALL_RCID,     MIS_TEXT, MIA_DISABLED
         MENUITEM "~None\tAlt+N",MB_SELECT_NONE_RCID,    MIS_TEXT, MIA_DISABLED
         MENUITEM "~Toggle\tAlt+T",MB_SELECT_TOGGLE_RCID,MIS_TEXT, MIA_DISABLED
      }
      MENUITEM "D~elete\tDel",   MB_DELETE_RCID,         MIS_TEXT, MIA_DISABLED
      MENUITEM "",               0,                      MIS_SEPARATOR
      MENUITEM "~Purge items\tAlt+P",MB_PURGE_RCID,      MIS_TEXT, MIA_DISABLED
   }
   SUBMENU "~Settings",          0,                      MIS_TEXT
   {
      MENUITEM "~Options\tAlt+O",MB_OPTIONS_RCID,        MIS_TEXT, MIA_DISABLED
      MENUITEM "Sa~ve options\tAlt+V",MB_SAVE_OPTIONS_RCID,MIS_TEXT, MIA_DISABLED
   }
   SUBMENU "~Help",              0,                      MIS_TEXT
   {
      MENUITEM "~Debug window\tF11",MB_OUTPUT_RCID,      MIS_TEXT, MIA_DISABLED
      MENUITEM "~About\tF12",    MB_ABOUT_RCID,          MIS_TEXT, MIA_DISABLED
   }
}


ACCELTABLE WND_RCID preload
{
   VK_F2,   MB_CONNECT_RCID,        VIRTUALKEY
   VK_F3,   MB_DISCONNECT_RCID,     VIRTUALKEY
   VK_F4,   MB_TRANSFER_RCID,       VIRTUALKEY
   VK_F5,   MB_COLOUR_TN_RCID,      VIRTUALKEY
   VK_F6,   MB_GRAYSCALE_TN_RCID,   VIRTUALKEY
   VK_F11,  MB_OUTPUT_RCID,         VIRTUALKEY
   VK_F12,  MB_ABOUT_RCID,          VIRTUALKEY
   VK_DELETE,MB_DELETE_RCID,        VIRTUALKEY
   VK_BACKTAB, MB_MOVE_FOCUS_RCID,  VIRTUALKEY
   VK_TAB,  MB_MOVE_FOCUS_RCID,     VIRTUALKEY
   "A",     MB_SELECT_ALL_RCID,     ALT
   "a",     MB_SELECT_ALL_RCID,     ALT
   "N",     MB_SELECT_NONE_RCID,    ALT
   "n",     MB_SELECT_NONE_RCID,    ALT
   "T",     MB_SELECT_TOGGLE_RCID,  ALT
   "t",     MB_SELECT_TOGGLE_RCID,  ALT
   "P",     MB_PURGE_RCID,          ALT
   "p",     MB_PURGE_RCID,          ALT
   "O",     MB_OPTIONS_RCID,        ALT
   "o",     MB_OPTIONS_RCID,        ALT
   "V",     MB_SAVE_OPTIONS_RCID,   ALT
   "v",     MB_SAVE_OPTIONS_RCID,   ALT
}


STRINGTABLE preload
{
   PB_PURGE_RCID     "items remaining in the camera queue"
   EF_STATUS_RCID    "status information"
   EF_BAUD_RCID      "speed of established connection"
   EF_SELECTED_RCID  "number of selected images"
}


HELPTABLE HELPTABLE_RCID
{
   HELPITEM WND_OPTIONS, HELP_OPTIONS_SUBTABLE, WND_OPTIONS
}


HELPSUBTABLE HELP_OPTIONS_SUBTABLE
{
   HELPSUBITEM CB_CAMERA_TYPE,               CB_CAMERA_TYPE
   HELPSUBITEM CK_ADVANCED_COM_PORT,         CK_ADVANCED_COM_PORT
   HELPSUBITEM SB_COM_PORT,                  SB_COM_PORT
   HELPSUBITEM EF_COM_PORT,                  EF_COM_PORT
   HELPSUBITEM SB_BAUD_RATE,                 SB_BAUD_RATE
   HELPSUBITEM SB_PAUSE_BETWEEN_COMMANDS,    SB_PAUSE_BETWEEN_COMMANDS
   HELPSUBITEM SB_TIMEOUT,                   SB_TIMEOUT
   HELPSUBITEM CB_EXT_BUFFERS,               CB_EXT_BUFFERS
   HELPSUBITEM SB_RETRY_PARTIALS,            SB_RETRY_PARTIALS
   HELPSUBITEM SB_BAUD_RATE_PAUSE,           SB_BAUD_RATE_PAUSE

   HELPSUBITEM CK_IGNORE_MEMORY_CARD,        CK_IGNORE_MEMORY_CARD
   HELPSUBITEM CK_CONVERT_KDC_TO_JPG,        CK_CONVERT_KDC_TO_JPG
   HELPSUBITEM CK_USE_RAW_PATH,              CK_USE_RAW_PATH
   HELPSUBITEM CK_REMEMBER_NUMBERING,        CK_REMEMBER_NUMBERING
   HELPSUBITEM SB_LAST_IMAGE_NUMBER,         SB_LAST_IMAGE_NUMBER
   HELPSUBITEM CK_KEEP_THUMBNAILS,           CK_KEEP_THUMBNAILS
   HELPSUBITEM CK_ALTERNATE_STARTUP,         CK_ALTERNATE_STARTUP
   HELPSUBITEM CK_IGNORE_BREAK,              CK_IGNORE_BREAK

   HELPSUBITEM SB_DTR,                       ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM CK_CTS,                       ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM CK_DSR,                       ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM CK_DCD,                       ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM CK_INPUT_DSR,                 ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM CK_TRANSMIT_FLOW_CONTROL,     ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM CK_RECEIVE_FLOW_CONTROL,      ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM SB_RTS,                       ID_HOW_TO_SET_SERIAL_LINE
   HELPSUBITEM PB_RESET_SERIAL,              ID_HOW_TO_SET_SERIAL_LINE

   HELPSUBITEM CK_USE_HIGHEST_PRIORITY,      CK_USE_HIGHEST_PRIORITY
   HELPSUBITEM CK_CONNECT_ON_STARTUP,        CK_CONNECT_ON_STARTUP
   HELPSUBITEM CK_AUTO_DOWNLOAD_THUMBNAILS,  CK_AUTO_DOWNLOAD_THUMBNAILS
   HELPSUBITEM CK_4_BIT_THUMBNAIL,           CK_4_BIT_THUMBNAIL
   HELPSUBITEM CK_24_BIT_THUMBNAIL,          CK_24_BIT_THUMBNAIL
   HELPSUBITEM CK_AUTO_DOWNLOAD_IMAGES,      CK_AUTO_DOWNLOAD_IMAGES
   HELPSUBITEM CK_OVERWRITE_IMAGES,          CK_OVERWRITE_IMAGES
   HELPSUBITEM CK_DELETE_IMAGES,             CK_DELETE_IMAGES

   HELPSUBITEM EF_TRANSFER_DIR,              EF_TRANSFER_DIR
   HELPSUBITEM CK_DELETE_FAILED_TRANSFERS,   CK_DELETE_FAILED_TRANSFERS

   HELPSUBITEM CK_SCRIPT_AFTER_CONNECTION,      CK_SCRIPT_AFTER_CONNECTION
   HELPSUBITEM CK_SCRIPT_AFTER_CONNECTION_FG,   ID_HOW_TO_SET_FG_SCRIPTS
   HELPSUBITEM EF_SCRIPT_AFTER_CONNECTION,      EF_SCRIPT_AFTER_CONNECTION
   HELPSUBITEM CK_SCRIPT_AFTER_TRANSFER,        CK_SCRIPT_AFTER_TRANSFER
   HELPSUBITEM CK_SCRIPT_AFTER_TRANSFER_FG,     ID_HOW_TO_SET_FG_SCRIPTS
   HELPSUBITEM EF_SCRIPT_AFTER_TRANSFER,        EF_SCRIPT_AFTER_TRANSFER
   HELPSUBITEM CK_SCRIPT_AFTER_DELETE,          CK_SCRIPT_AFTER_DELETE
   HELPSUBITEM CK_SCRIPT_AFTER_DELETE_FG,       ID_HOW_TO_SET_FG_SCRIPTS
   HELPSUBITEM EF_SCRIPT_AFTER_DELETE,          EF_SCRIPT_AFTER_DELETE
   HELPSUBITEM CK_SCRIPT_NO_MORE_IMAGES,        CK_SCRIPT_NO_MORE_IMAGES
   HELPSUBITEM CK_SCRIPT_NO_MORE_IMAGES_FG,     ID_HOW_TO_SET_FG_SCRIPTS
   HELPSUBITEM EF_SCRIPT_NO_MORE_IMAGES,        EF_SCRIPT_NO_MORE_IMAGES
   HELPSUBITEM CK_SCRIPT_AFTER_DISCONNECTING,   CK_SCRIPT_AFTER_DISCONNECTING
   HELPSUBITEM CK_SCRIPT_AFTER_DISCONNECTING_FG,ID_HOW_TO_SET_FG_SCRIPTS
   HELPSUBITEM EF_SCRIPT_AFTER_DISCONNECTING,   EF_SCRIPT_AFTER_DISCONNECTING

   HELPSUBITEM EF_REGISTER_NAME,             EF_REGISTER_NAME
   HELPSUBITEM EF_REGISTER_KEY,              EF_REGISTER_KEY
   HELPSUBITEM PB_REGISTER,                  PB_REGISTER

   HELPSUBITEM PB_HELP,                      PB_HELP
   HELPSUBITEM PB_OK,                        PB_OK
   HELPSUBITEM PB_CANCEL,                    PB_CANCEL
}

rcinclude "OptionsCanvas.rc"

